<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <appSettings>
    <add key="development" value="http://localhost:5952/"/>
    <add key="qa" value="http://localhost:5952/"/>
    <add key="production" value="http://localhost:5952/"/>
  </appSettings>
</configuration>