<section>
    
    <h4>Forgot Your Password?</h4>

    <form ng-hide="success" class="login-form" ng-submit="resetPassword()">
        <div class="col-lg-4">
            <input type="email" class="form-control col-5" ng-model="user.email" placeholder="Enter your Email Address" required/> 
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn">Reset Password</button>
        </div>
    </form>
    
    <div ng-show="success" class="row alert alert-info">
        <strong>Please check your email. </strong>
        An email has been sent to "{{user.email}}" with instructions on how to reset your password and regain access to your account.
    </div>

</section>