<section>
    
    <h4>Reset Your Password?</h4>

    <form ng-hide="success" class="login-form" ng-submit="resetPassword()">
        <div class="col-lg-4">
            <input type="password" class="form-control col-4" ng-model="password1" placeholder="Enter your new password" required/> 
            <span ng-show="password1 && password1.length < 8" class="label label-warning">Please choose a password that is at least 8 characters long.</span>
        </div>
        <div class="col-lg-4">
            <input type="password" class="form-control col-4" ng-model="password2" placeholder="Confirm your new password" required />
            <span ng-show="password1 && !password2" class="label label-info">Please confirm your password.</span>
            <span ng-show="password1 && password2 && password2!==password1" class="label label-warning">Not matching</span>
        </div>
        <div class="col-lg-2">
            <button type="submit" class="btn" ng-disabled="!password1 || password1!==password2">Reset Password</button>
        </div>
    </form>
    
    <div ng-show="success" class="row alert alert-info">
        <strong>Password Reset Complete! </strong>
        You may now use your new password to <a href="/#/login">log in</a>.
    </div>

</section>